body {
  background-color: #e5e5e5;
  color: #3c4858;
  background:url(../images/bg.jpg) no-repeat fixed center;
}

.material-icons.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.label.has-success {
  color: #ffb700; }
  .label.has-success.label-sm {
    font-size: 12px; }

.material-icons.final-circle {
  font-size: 130px;
  color: #ffb700; }
.ng-hide {
  display: none!important;
}
.content-wrapper {
  height: auto;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  /* background-image: url("../img/bg.jpg"); */
}
  .content-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    opacity: 0.25; }

.logo {
  position: absolute;
  opacity: 0.8;
  right: 10px;
  top: 10px;
  margin-left: -75px; }
.logo img{display: none;}

.carousel-container {
  padding-left: 35px;
  position: relative; }
  .carousel-container .material-icons.quote {
    position: absolute;
    left: 0;
    color: #b2b2b2;
    font-size: 36px;
    left: -5px;
    top: -2px; }

#reviewCarousel {
  margin-top: 10px;
  margin-bottom: 20px; }
  #reviewCarousel .carousel-item {
    min-height: 98px; }
    #reviewCarousel .carousel-item strong {
      margin-left: 10px; }
    #reviewCarousel .carousel-item .written-by {
      color: gray;
      font-size: 12px; }
    #reviewCarousel .carousel-item .feedback {
      font-style: italic; }
    #reviewCarousel .carousel-item i {
      color: #ffb700;
      font-size: 18px;
      width: 14px;
      position: relative;
      top: 3px; }

.rating-widget {
  font-size: 0;
  height: 100px; }
  .rating-widget i {
    font-size: 55px;
    color: #adadad;
    cursor: pointer; }
    .rating-widget i.selected {
      color: #ffb700; }

.buyer-name {
  text-transform: capitalize; }

.feedback-card {
  margin-top: 100px;
  position: relative;
  padding-left: 50px;
  padding-right: 50px; }
  .feedback-card h5 {
    line-height: 22px; }
  .feedback-card .product {
    margin-bottom: 10px;
    font-size: 13px; }
    .feedback-card .product span {
      color: #ffb700; }
  .feedback-card .title-block {
    padding-top: 30px;
    padding-bottom: 25px; }
    .feedback-card .title-block h1 {
      font-weight: 400;
      margin-bottom: 0;
      font-size: 24px; }
    .feedback-card .title-block h5 {
      margin-top: 5px;
      font-size: 15px;
      margin-bottom: 5px; }
  .feedback-card .nav-pills {
    background-color: #eee;
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 22px; }
    .feedback-card .nav-pills > .nav-item:not(:first-child) {
      margin-left: 0 !important; }
    .feedback-card .nav-pills > .nav-item a {
      border-radius: 0;
      cursor: default; }
    .feedback-card .nav-pills > .nav-item:first-child a {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px; }
    .feedback-card .nav-pills > .nav-item:last-child a {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px; }
  .feedback-card .row.actions {
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 20px; }
  .feedback-card .tab-content {
    padding-top: 30px;
    min-height: 300px; }
    .feedback-card .tab-content .error-message {
      font-size: 11px;
      color: #f44336; }
    .feedback-card .tab-content .form-group {
      margin-bottom: 0;
      margin-top: 20px; }
      .feedback-card .tab-content .form-group > span.input-group-btn {
        padding: 0 0 0 12px; }
    .feedback-card .tab-content .btn-sm a {
      color: white; }
    .feedback-card .tab-content .feedback-button a {
      display: inline-block;
      margin-top: 5px;
      font-size: 24px;
      font-weight: bold;
      color: #ffb700;
      opacity: 0.8; }
      .feedback-card .tab-content .feedback-button a:focus, .feedback-card .tab-content .feedback-button a:hover {
        opacity: 1;
        text-decoration: none; }
    .feedback-card .tab-content .feedback-button .label {
      margin-bottom: 15px; }
    .feedback-card .tab-content .email-label, .feedback-card .tab-content .name-label {
      left: 57px; }

.help-card h5 {
  margin-top: 0; }
  .help-card h5 span.amazon-notice {
    display: block;
    font-size: 12px;
    margin-bottom: 100px; }
.help-card .tab-content {
  padding-top: 0;
  min-height: 250px; }
  .help-card .tab-content .label.has-success.coupon-code {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px; }
  .help-card .tab-content .form-group {
    margin-top: 5px; }
  .help-card .tab-content .email-label {
    left: 0; }
.help-card .row.actions {
  margin-bottom: 40px; }

.footer {
  color: white; }
  .footer a {
    cursor: pointer; }
    .footer a:hover, .footer a:visited {
      color: inherit; }


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



@media screen and (max-width: 800px) {
  .rating-question { width: auto!important; float: none!important; }
  .rating-widget {float: none!important; padding-top: 10px;}
  .how_to_help {padding-left: 10px!important;}
  .how_to_help_list {padding-left: 10px!important;}
}

@media screen and (max-width: 500px) {
  .logo {
    opacity: 1;
    right: initial;
    left: 50%;
    top: 15px;
    margin-left: -75px; }

  .feedback-card {
    padding-left: 15px;
    padding-right: 15px; }
    .feedback-card .title-block {
      padding-top: 10px;
      padding-bottom: 15px; }
    .feedback-card .nav-pills {
      margin-left: 0;
      margin-right: 0; }
    .feedback-card .tab-content {
      padding-top: 15px;
      min-height: 300px; }
    .feedback-card .row.actions {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 10px; } }
@media screen and (max-width: 400px) {
  .feedback-card h5 {
    font-size: 14px; }
  .feedback-card .nav-pills {
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 5px; }
    .feedback-card .nav-pills > .nav-item .nav-link {
      padding: 10px 0; }
    .feedback-card .nav-pills > .nav-item:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .feedback-card .nav-pills > .nav-item:last-child a {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; } }

.footer a.rg{color: #ffffff;}

.highlighted-text{font-weight: bold;}

/*# sourceMappingURL=style.css.map */
